<!doctype html>
<html>
    <head>
        <title>CreatePost </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
    </head>
    <body>
        <center>
        <form action="/create/" method="Post"><!--POST method used here for http request -->
            Post Title: <input type="text" name="title"><br>
            Post Body: <input type="text" name="text"><br>
            <input type="submit" value="Submit"><br>
        </form>
        <center>
    </body>
</html>
